<h1>Tank Equipment</h1>

<h2>Heaters</h2>
<div id="<%= @tank.equipment.heaters.new.type.pluralize %>">
  <% @tank.equipment.heaters.each do |heater| %>
    <%= render 'tanks/equipments/equipment', equipment: heater %>
  <% end %>
</div>
<%= turbo_frame_tag @tank.equipment.heaters.new.turbo_frame_tag %>

<%= link_to 'Add Heater', new_tank_heater_path(@tank), class: 'btn btn--primary', data: { turbo_frame: @tank.equipment.heaters.new.turbo_frame_tag } %>

<h2>Lighting</h2>
<div id="<%= @tank.equipment.lights.new.type.pluralize %>">
  <% @tank.equipment.lights.each do |light| %>
    <%= render 'tanks/equipments/equipment', equipment: light %>
  <% end %>
</div>
<%= turbo_frame_tag @tank.equipment.lights.new.turbo_frame_tag %>

<%= link_to 'Add Light', new_tank_light_path(@tank), class: 'btn btn--primary', data: { turbo_frame: @tank.equipment.lights.new.turbo_frame_tag } %>

<h2>Pumps</h2>
<% @tank.equipment.pumps.each do |pump| %>
  <%= render 'tanks/equipments/equipment', equipment: pump %>
<% end %>
