<div class="container mx-auto p-4">
  <%= render partial: 'shared/components/h1', locals: { title: 'Tank Equipment' } %>
  <div class="py-4"><%= link_to "â† Back to Tank Edit", edit_tank_path(@tank), class: 'block w-full bg-gray-300 text-black px-4 py-2 rounded-lg hover:bg-gray-2000' %></div>

  <h2 class="text-xl md:text-2xl font-semibold text-gray-800 my-4">Heaters</h2>
  <div id="<%= @tank.equipment.heaters.new.type.pluralize %>" class="mb-6">
    <% @tank.equipment.heaters.each do |heater| %>
      <%= render 'tanks/equipments/equipment', equipment: heater, include_manage_buttons: true %>
    <% end %>
  </div>
  <%= turbo_frame_tag @tank.equipment.heaters.new.turbo_frame_tag %>

  <%= link_to 'Add Heater', new_tank_heater_path(@tank), class: 'inline-flex justify-center items-center w-full px-20 py-2 text-xl font-bold text-white bg-gradient-to-r from-gray-400 to-gray-700 hover:from-gray-500 hover:to-gray-700 sm:mb-0 sm:w-auto hover:bg-gray-600 sm:rounded-full', data: { turbo_frame: @tank.equipment.heaters.new.turbo_frame_tag } %>

  <h2 class="text-xl md:text-2xl font-semibold text-gray-800 my-4">Lighting</h2>
  <div id="<%= @tank.equipment.lights.new.type.pluralize %>" class="mb-6">
    <% @tank.equipment.lights.each do |light| %>
      <%= render 'tanks/equipments/equipment', equipment: light, include_manage_buttons: true %>
    <% end %>
  </div>
  <%= turbo_frame_tag @tank.equipment.lights.new.turbo_frame_tag %>

  <%= link_to 'Add Light', new_tank_light_path(@tank), class: 'inline-flex justify-center items-center w-full px-20 py-2 text-xl font-bold text-white bg-gradient-to-r from-gray-400 to-gray-700 hover:from-gray-500 hover:to-gray-700 sm:mb-0 sm:w-auto hover:bg-gray-600 sm:rounded-full', data: { turbo_frame: @tank.equipment.lights.new.turbo_frame_tag } %>

  <h2 class="text-xl md:text-2xl font-semibold text-gray-800 my-4">Pumps</h2>
  <div id="<%= @tank.equipment.pumps.new.type.pluralize %>" class="mb-6">
    <% @tank.equipment.pumps.each do |pump| %>
      <%= render 'tanks/equipments/equipment', equipment: pump, include_manage_buttons: true %>
    <% end %>
  </div>
  <%= turbo_frame_tag @tank.equipment.pumps.new.turbo_frame_tag %>

  <%= link_to 'Add Pump', new_tank_pump_path(@tank), class: 'inline-flex justify-center items-center w-full px-20 py-2 text-xl font-bold text-white bg-gradient-to-r from-gray-400 to-gray-700 hover:from-gray-500 hover:to-gray-700 sm:mb-0 sm:w-auto hover:bg-indigo-600 sm:rounded-full', data: { turbo_frame: @tank.equipment.pumps.new.turbo_frame_tag } %>
</div>
