<div class="container mx-auto p-4">
  <%= render partial: 'shared/components/h1', locals: { title: 'Tank Equipment' } %>

  <h2 class="text-xl md:text-2xl font-semibold text-gray-800 my-4">Heaters</h2>
  <div id="<%= @tank.equipment.heaters.new.type.pluralize %>" class="mb-6">
    <% @tank.equipment.heaters.each do |heater| %>
      <%= render 'tanks/equipments/equipment', equipment: heater, include_manage_buttons: true %>
    <% end %>
  </div>
  <%= turbo_frame_tag @tank.equipment.heaters.new.turbo_frame_tag %>

  <%= link_to 'Add Heater', new_tank_heater_path(@tank), class: 'px-20 text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800', data: { turbo_frame: @tank.equipment.heaters.new.turbo_frame_tag } %>

  <h2 class="text-xl md:text-2xl font-semibold text-gray-800 my-4">Lighting</h2>
  <div id="<%= @tank.equipment.lights.new.type.pluralize %>" class="mb-6">
    <% @tank.equipment.lights.each do |light| %>
      <%= render 'tanks/equipments/equipment', equipment: light, include_manage_buttons: true %>
    <% end %>
  </div>
  <%= turbo_frame_tag @tank.equipment.lights.new.turbo_frame_tag %>

  <%= link_to 'Add Light', new_tank_light_path(@tank), class: 'px-20 text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800', data: { turbo_frame: @tank.equipment.lights.new.turbo_frame_tag } %>

  <h2 class="text-xl md:text-2xl font-semibold text-gray-800 my-4">Pumps</h2>
  <div id="<%= @tank.equipment.pumps.new.type.pluralize %>" class="mb-6">
    <% @tank.equipment.pumps.each do |pump| %>
      <%= render 'tanks/equipments/equipment', equipment: pump, include_manage_buttons: true %>
    <% end %>
  </div>
  <%= turbo_frame_tag @tank.equipment.pumps.new.turbo_frame_tag %>

  <%= link_to 'Add Pump', new_tank_pump_path(@tank), class: 'px-20 text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800', data: { turbo_frame: @tank.equipment.pumps.new.turbo_frame_tag } %>
</div>
