
<%= form_with(model: tank, local: true, class: 'w-full') do |form| %>
  <%= render 'shared/errors', resource: tank %>

  <div class="mb-6">
    <%= form.label :name, class: "block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" %>
    <%= form.text_field :name, class: "appearance-none block w-full text-gray-700 border  border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-indigo-500" %>
  </div>
  <div class="mb-6">
    <%= form.label :description, class: "block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" %>
    <%= form.text_area :description, class: "appearance-none block w-full text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-indigo-500" %>
  </div>
  <div class="flex flex-wrap mb-6 mt-3">
    <div class="w-full md:w-1/2 px-0 mb-6 md:mb-0">
      <%= form.label :total_volume, class: "block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" %>
      <div class="flex">
        <%= form.text_field :total_volume_value, type: :number, step: :any, class: "appearance-none block w-full text-gray-700 border border-gray-200 rounded-l py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-indigo-500" %>
        <%= form.select :total_volume_unit, options_for_select(volume_options), class: "appearance-none border border-gray-200 text-gray-700 py-3 px-4 rounded-r leading-tight focus:outline-none focus:bg-white focus:border-indigo-500" %>
      </div>
    </div>
    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
      <%= form.label :display_volume, class: "block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" %>
      <div class="flex">
        <%= form.text_field :display_volume_value, type: :number, step: :any, class: "appearance-none block w-full text-gray-700 border border-gray-200 rounded-l py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-indigo-500" %>
        <%= form.select :display_volume_unit, options_for_select(volume_options), class: "appearance-none border border-gray-200 text-gray-700 py-3 px-4 rounded-r leading-tight focus:outline-none focus:bg-white focus:border-indigo-500" %>
      </div>
    </div>
  </div>
  <div class="flex flex-wrap -mx-3 mb-6">
    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
      <%= form.label :sub_volume, class: "block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" %>
      <div class="flex">
        <%= form.text_field :sub_volume_value, type: :number, step: :any, class: "appearance-none block w-full text-gray-700 border border-gray-200 rounded-l py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-indigo-500" %>
        <%= form.select :sub_volume_unit, options_for_select(volume_options), class: "appearance-none border border-gray-200 text-gray-700 py-3 px-4 rounded-r leading-tight focus:outline-none focus:bg-white focus:border-indigo-500" %>
      </div>
    </div>
    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
      <%= form.label :glass_thickness, class: "block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" %>
      <div class="flex">
        <%= form.text_field :glass_thickness_value, type: :number, step: :any, class: "appearance-none block w-full text-gray-700 border border-gray-200 rounded-l py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-indigo-500" %>
        <%= form.select :glass_thickness_unit, options_for_select(thickness_options), class: "appearance-none border border-gray-200 text-gray-700 py-3 px-4 rounded-r leading-tight focus:outline-none focus:bg-white focus:border-indigo-500" %>
      </div>
    </div>
  </div>
  <div class="w-full mb-6">
    <div data-controller="multi-upload" data-multi-upload-image-width-value="150" data-multi-upload-image-height-value="150">
      <div class="photos">
        <%= form.label :images, class: "block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" %>
        <% if tank.images.count < 5 %>
          <%= form.file_field :images, multiple: true, direct_upload: true, data: { action: "multi-upload#addFile", multi_upload_target: "input" }, class: "block w-full text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-indigo-500" %>
        <% end %>
      </div>
      <div data-multi-upload-target="files" class="hidden"></div>

      <div class="existing-images" data-multi-upload-target="preview">
        <% tank.images.each do |image| %>
          <%= image_tag image.variant(resize_to_limit: [150, 150]).processed, class: "rounded-lg shadow-md" %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="flex flex-wrap -mx-3 mb-2">
    <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
      <%= form.submit "Submit", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
    </div>
  </div>

  <% if tank.persisted? %>
    <div class="py-4"><%= link_to 'Add Parameters', tank_parameters_path(tank), class: 'bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600' %></div>
    <div class="py-4"><%= link_to 'Add Equipment', tank_equipments_path(tank), class: 'bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600' %></div>
  <% end %>
<% end %>
