<%= turbo_frame_tag dom_id(tank) do %>
  <div class="max-w-sm rounded overflow-hidden shadow-lg">
      <%= link_to tank_path(tank), class: "h-48 w-full bg-gray-200 flex items-center justify-center", data: { turbo_frame: '_top' } do %>
      <% if tank.images.attached? %>
        <%= image_tag url_for(tank.images.first), class: "object-cover h-full w-full" %>
      <% else %>
        <%= image_tag 'tanks/place_holder_tank.jpeg', alt: 'Placeholder', class: 'object-cover h-full w-full' %>
      <% end %>
    <% end %>
    <div class="px-6 py-4">
      <div class="font-bold text-xl mb-2"><%= tank.name %></div>
      <% if show_button %>
        <div class="flex justify-around mt-4 space-x-2">
          <%= link_to 'View', tank_path(tank), class: 'inline-block bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded transition duration-300 ease-in-out', data: { turbo_frame: '_top' } %>
          <%= link_to 'Edit', edit_tank_path(tank), class: 'inline-block bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded transition duration-300 ease-in-out', data: { turbo_frame: '_top' } %>
          <%= link_to 'Delete', tank_path(tank), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'inline-block bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded transition duration-300 ease-in-out' %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
