<div class="flex flex-col md:flex-row items-center md:items-start md:space-x-4">
  <div class="flex-shrink-0">
    <div class="w-24 h-24 md:w-32 md:h-32 rounded-full overflow-hidden border border-gray-300">
      <% if user.avatar.attached? %>
        <%= image_tag(user.avatar, alt: "Profile Image", class: "object-cover w-full h-full") %>
      <% end %>
    </div>
  </div>

  <div class="mt-4 md:mt-0 text-center md:text-left flex-1">
    <h1 class="text-xl md:text-2xl font-semibold text-gray-800"><%= user.first_name %></h1>

    <div class="my-2 inline-block px-2 py-1 text-xs md:text-sm font-medium text-white rounded bg-blue-500">
      <%= user.level %>
    </div>

     <%= render partial: 'users/follows/follower_counts', locals: { user: user } %>
  </div>

  <div class="mt-4 md:mt-0 ml-auto">
    <%= render partial: 'users/follows/follow_button', locals: { user: user } %>
  </div>
</div>
