<div class="container mx-auto p-4">
  <%= render partial: 'tanks/user_info', locals: { user: @tank.user } %>
  <%= render partial: 'tanks/slideshow', locals: { tank: @tank } %>

  <h2 class="text-xl md:text-2xl font-semibold text-gray-800 my-4"><%= @tank.name %></h2>

  <div class="flex mb-10">
    <% if @tank.total_volume %>
      <%= render partial: 'tanks/tank_info_item', locals: { small_text: 'Total Volume', large_text: @tank.total_volume.format(with_conversion_string: false) } %>
    <% end %>

    <% if @tank.glass_thickness %>
      <%= render partial: 'tanks/tank_info_item', locals: { small_text: 'Glass Thickness', large_text: @tank.glass_thickness.format(with_conversion_string: false) } %>
    <% end %>

    <% if @tank.display_volume %>
      <%= render partial: 'tanks/tank_info_item', locals: { small_text: 'Display Volume', large_text: @tank.display_volume.format(with_conversion_string: false) } %>
    <% end %>

    <% if @tank.sub_volume %>
      <%= render partial: 'tanks/tank_info_item', locals: { small_text: 'Sump Volume', large_text: @tank.sub_volume.format(with_conversion_string: false) } %>
    <% end %>
  </div>

  <% if @latest_parameters %>
    <h2 class="text-xl md:text-2xl font-semibold text-gray-800 my-4">Latest Parameters</h2>

    <div class="flex flex-wrap gap-4 mb-10">
      <% TankParameter::TYPES.each do |type, details| %>
        <% if @latest_parameters.send(type) %>
          <%= render partial: 'tanks/parameters/parameter', locals: { name: details[:name], metric: details[:metric], value: @latest_parameters.send(type) } %>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <h2 class="text-xl md:text-2xl font-semibold text-gray-800 my-4">Equipment</h2>

  <% if @tank.equipment.heaters.any? %>
   <h3 class="text-lg">Heaters</h3>
   <div class="flex flex-col gap-3 mb-4">
      <% @tank.equipment.heaters.each do |heater| %>
        <%= render 'tanks/equipments/equipment', equipment: heater, include_manage_buttons: false %>
      <% end %>
    </div>
  <% end %>

  <% if @tank.equipment.lights.any? %>
   <h3 class="text-lg">Lighting</h3>
   <div class="flex flex-col gap-3 mb-4">
      <% @tank.equipment.lights.each do |light| %>
        <%= render 'tanks/equipments/equipment', equipment: light, include_manage_buttons: false %>
      <% end %>
    </div>
  <% end %>

   <% if @tank.equipment.pumps.any? %>
   <h3 class="text-lg">Pumps</h3>
   <div class="flex flex-col gap-3 mb-4">
      <% @tank.equipment.pumps.each do |pump| %>
        <%= render 'tanks/equipments/equipment', equipment: pump, include_manage_buttons: false %>
      <% end %>
    </div>
  <% end %>
</div>
