<% if user_signed_in? %>
  <%= turbo_frame_tag current_user do %>
    <% if current_user.complete? %>
      <%= render partial: 'tanks/user_info', locals: { user: current_user } %>
      <%= render partial: 'shared/components/h1', locals: { title: "Welcome #{current_user.first_name}" } %>
      <ul class="max-w-xs flex flex-col">
        <li class="inline-flex items-center gap-x-2 py-3 px-4 text-sm font-medium bg-white border border-gray-200 text-gray-800 -mt-px first:rounded-t-lg first:mt-0 last:rounded-b-lg dark:bg-neutral-900 dark:border-neutral-700 dark:text-white"><%= link_to "My Tanks", user_tanks_path, data: { turbo_frame: "_top" }, class: "font-medium text-blue-600 dark:text-blue-500 hover:underline" %></li>
      </ul>
    <% else %>
      <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 xl:p-0 dark:bg-gray-800 dark:border-gray-700">
        <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
          <%= form_for current_user, method: :put, html: { class: "space-y-4 md:space-y-6" } do |f| %>
            <div class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">Please complete your profile.</div>
            <div><progress class="w-full" value="<%= current_user.complete_percentage %>" max="100"></progress></div>
            <%= render "users/profile/#{current_user.incomplete_completable_attributes.first}", f: f %>
            <%= f.submit 'Save', class: "px-20 text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
<% else %>
  <%= turbo_frame_tag 'new-user' do %>
    <%= link_to "Sign In", new_user_session_path, class: "w-full text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800", data: { turbo_frame: "_top" } %>
  <% end %>
<% end %>
