<% if user_signed_in? %>
  <%= turbo_frame_tag current_user do %>
    <% if current_user.complete? %>
      <div class="">Welcome <%= current_user.first_name %></div>
    <% else %>
      <%= form_for current_user, method: :put, html: { class: "animatecss animatecss-headShake prose bg-gray-100 p-4 block" } do |f| %>
        <div>Please complete your profile.</div>
        <div><progress class="progress progress-primary" value="<%= current_user.complete_percentage %>" max="100"></progress></div>
        <%= render "users/profile/#{current_user.incomplete_completable_attributes.first}", f: f %>
        <%= f.submit 'Save', class: "inline-block cursor-pointer rounded-md bg-gray-800 px-4 py-3 text-center text-sm font-semibold uppercase text-white transition duration-200 ease-in-out hover:bg-gray-900 mr-4" %>
      <% end %>
    <% end %>
  <% end %>
<% else %>
  <%= turbo_frame_tag 'new-user' do %>
    <%= link_to "Sign up", new_user_registration_path, class: "inline-block cursor_pointer
    rounded-md bg-gray-800 px-4 py-3 text-center text-sm font-semibold uppercase text-white
    transition duration-200 ease-in-out hover:bg-gray-900" %>
  <% end %>
<% end %>
