<div class="container mx-auto p-4">
  <%= render partial: 'shared/components/h1', locals: { title: "Tank Parameters" } %>

  <div class="mx-auto mb-5">
    <div class="py-4"><%= link_to "â† Back to Tank Edit", edit_tank_path(@tank), class: 'block w-full bg-gray-300 text-black px-4 py-2 rounded-lg hover:bg-gray-2000' %></div>
    <%= render partial: 'tanks/parameters/form', locals: { tank: @tank, new_tank_parameters: @new_tank_parameters } %>
  </div>

    <h2 class="text-xl font-semibold mb-4">Parameter Records</h2>
    <%= turbo_frame_tag "tank_parameters" do %>
      <%= render partial: "tanks/parameters/tank_parameters", collection: @tank_parameters, locals: { tank: @tank } %>
    <% end %>
  </div>
</div>
