<!DOCTYPE html>
<html>
  <head>
    <title>TankShare</title>
    <%= render partial: 'shared/layouts/ga_tracking' %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-gray-100">
    <div class="min-h-screen flex flex-col">
      <%= render partial: 'layouts/header' %>

      <main class="container mx-auto px-4 py-10 flex flex-col justify-center items-center">
        <% if notice.present? %>
          <p class="flash-notice bg-green-100 border-t border-b border-green-500 text-green-700 px-4 py-3 mb-2 w-full"><%= notice %></p>
        <% end %>
        <% if alert.present? %>
          <p class="flash-alert py-2"><%= alert %></p>
        <% end %>
        <%= yield %>
      </main>

      <%= render partial: 'layouts/footer' %>
    </div>
  </body>
</html>
